/** Général **/
* {
    font-family: "Raleway";
}

header, section {
    margin: 0% 3.5% 0% 3.5%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: 300;
    color: black;
}

h1 {
    margin: 0;
}

button {
    border: none;
    margin: 0;
}

/** Header **/

.headerSection {
    display: flex;
    justify-content: space-between;
    height: 110px;
    align-items: center;
}

.logo {
    width: 95px;
}

.logoContainer {
    height: 20%;
    margin-left: 12px;
}

#navBar {
    height: 100%;
}

.navContainer {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.navTitle {
    list-style-type: none;
    margin: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-top: 4px solid transparent;
}

.navLinks {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 17px 0px 17px;
}

.navTitle:hover {
    border-top: 4px solid #0065FC;
}

.navLinks:hover {
    color: #0065FC;
}


/** Search bar **/

#searchTitle {
    font-weight: 600;
    font-size: 22px;
    margin-top: 18px;
}

#searchSubTitle {
    font-size: 16px;
    font-weight: 300;
    margin-top: 7px;
}

#searchForm {
    margin-top: 20px;
    margin-bottom: 20px;
}

#searchInput {
    border: 1px solid #F2F2F2;
    width: 250px;
    height: 51px;
    padding-left: 15px;
}

#searchInput::placeholder {
    color: black;
    font-weight: 600;
    font-size: 17.5px;
    letter-spacing: 0.3px;
}

#searchInput:focus {
    outline: none;
}

#searchButton {
    border: none;
    border-radius: 0px 16px 16px 0px;
    background-color: #0065FC;
    height: 51px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.3px;
    width: 134px;
    margin-left: -25px;
    font-size: 17.5px;
    cursor: pointer;
}

#searchButtonMobile {
    display: none;
}

#locationIcon {
    border: 1px solid transparent;
    border-radius: 16px 0px 0px 16px;
    background-color: #F2F2F2;
    height: 51px;
    color: black;
    width: 54px;
    margin-right: -5px;
}

.filterSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.filterTitle {
    font-size: 18px;
    font-weight: 600;
    margin-right: 9px;
    margin-left: 9px;
}


.filterContainer {
    display: flex;
    align-items: center;
    width : auto;
    height: 45px;
    border: 2px solid #dbdbdb;
    border-left: none;
    background-color: transparent;
    border-radius: 40px;
    padding-right: 19px;
    margin: 10px 0px 5px 25px;
    cursor: pointer;
}

.filterContainer:hover {
    background-color: #0065FC;
    border: 2px solid #0065FC;
    border-left: none;
    color: white;
  }

.roundIcon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #0065FC;
}

.filterCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 13px;
    font-weight: 600;
    font-size: 18px;
}

.infoTitle {
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: center;
    margin: 17px 0px 17px 0px;
}

#infoIcon {
    border: 1px solid #dbdbdb;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: #0065FC;
}

/** Section **/

.hostSection {
    display: flex;
    width: 100%;
}

.marseilleHost {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 97%;
    margin: 5px 36px 5px 5px;
    padding: 17px;
  }

  .marseilleHostTitle {
    font-size: 22px;
    font-weight: 600;
    margin: 25px 18px 10px 20px;
}

.marseilleCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.hostMarseilleCard {
    background-color: white;
    margin: 15px 15px 15px 15px;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    width: 28%;
    box-shadow: 3px 3px 14px #d8d8d8;
}

.marseilleCardImage {
    width: 100%;
    height: 114px;
    object-position: center;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.marseilleCardTitleSection {
    margin: 5px 5px 5px 5px;
    padding: 1px 5px 0px 8px;
    display: flex;
    flex-direction: column;
}

.marseilleCardTitle {
    font-weight: 600;
    margin-top: 5px;
}

.marseilleCardPrice {
    margin: 5px 0px 5px 0px;
    font-size: 14px;
    font-weight: 300;
}

#starIcon {
    margin: 0px -3px 0px 0px;
}

.hostShowMore {
    margin: 28px;
    cursor: pointer;
}


#hostShowMoreButton {
    font-size: 18px;
    font-weight: 600;
    background: none;
}

/** Popular Section **/
  .popularHost {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 45%;
    margin: 5px 5px 5px 5px;
    padding: 17px;
  }

  .popularTitleSection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 25px 18px 10px 20px;
  }

  .popularTitle {
      font-size: 22px;
      font-weight: 600;
  }


.popularContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

  .popularCard {
    display: flex;
    background-color: white;
    margin: 25px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    width: 90%;
    height: 135px;
    box-shadow: 3px 3px 14px #d8d8d8;
  }

  .popularCardImage {
    width: 39%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
  }

 .popularCardTitleSection {
    padding: 5%;
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
  }

  .popularCardTitle {
    font-weight: 600;
    margin-top: 5px;
  }

  .popularCardPrice {
    margin: 10px 0px 5px 0px;
    font-size: 14px;
    font-weight: 300;
  }

.popularCardStar {
    position:absolute;
    bottom: 12px;
}

  #popularStarIcon {
    margin: 0px -3px 0px 0px;
  }

  #lastCardResponsive {
      display: none;
  }


  /** Activities section **/

.activitesSection {
    margin-top : 60px;
}

.mainActivitesTitle {
    font-size: 22px;
    font-weight: 600;
    margin: 25px 18px 10px 20px;
}

.marseilleActivitesContainer {
    display: flex;
    justify-content: space-between;
}

.activitiesCard {
    background-color: white;
    margin: 15px 15px 15px 15px;
    padding: 0px 0px 5px 0px;
    border-radius: 20px;
    box-shadow: 3px 3px 14px #d8d8d8;
}

.activitiesCardTitle {
    margin: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    height: 35px;
    justify-content: center;
}

.singleCard {
    width: 23%;
}

.singleCardImage {
    width: 100%;
    height: 350px;
    object-position: center;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.multipleCard {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.multipleCardImage {
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

#pomegueIMG {
    height: 150px;
}

#frioulIMG {
    height: 100px;
}


#longIMG {
    height: 150px;
}

#dameIMG {
    height: 100px;
}
/** Footer **/

  .footer {
    background-color: #F2F2F2;
    height: 100%;
    width: 100%;
    margin: 50px 0px 0px 0px;
    display: flex;
  }

    .footerSection {
        margin: 70px 50px 50px 50px;
        width: 35%;
        display: flex;
        flex-direction: column;
    }

  .footerTitle {
      font-size: 18px;
      font-weight: 600;
      margin: 0px 0px 12px 0px;
      padding: 0;
  }

  .footerLink {
      margin: 7px 0px 7px 0px;
      list-style-type: none;

  }



  /** Responsive

  /** Responsive ipad **/

  @media screen and (max-width: 1340px) {

    .hostMarseilleCard {
        width: 27%;
    }
  }

  @media screen and (max-width: 1240px) {

    header, section {
        margin: 0% 4% 0% 4%;
    }

    .hostSection {
        flex-direction: column-reverse;
    }
    
    .popularHost {
        padding: 0;
        width: 100%;
        margin-bottom: 30px;
    }

    .marseilleHost {
        padding: 0;
        width: 100%;
        background-color: transparent;
    }

    .marseilleHostTitle {
        margin: 45px 35px 15px 35px;
        padding: 0px 22px 0px 22px;
    }

    .hostShowMore {
        margin: 30px 30px 40px 60px;
    }

    .popularContainer {
        margin-bottom: 30px;
    }

    .popularCard {
        width: 41%;
        margin: 15px 15px 15px 15px;
    }

    .popularTitleSection {
        margin: 45px 35px 15px 35px;
        padding: 0px 22px 0px 22px;
    }

    #lastCardResponsive {
        display: inherit;
    }
}


@media screen and (max-width: 992px) {
    
    .marseilleActivitesContainer {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .singleCard {
        width: 50%;
    }

    .singleCardImage {
        height: 200px;
    }

    .multipleCard {
        width: 50%;
    }

    .multipleCardImage {
        height: 200px !important;
    }
}

/** Mobile responsive **/
@media screen and (max-width: 768px) {
    

/** Header **/ 
    header, section {
        margin: 5% 0% 5% 0%;
    }

    .headerSection {
        display: flex;
        flex-direction: column;
    }

    #navBar {
        width: 100%;
    }

    .navTitle {
        margin: 0;
        width: 50%;
        height: 80%;
        border-bottom: 3px solid #F2F2F2;
        border-top: none;
        justify-content: center;
    }

    .navTitle:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }
    

    .logoContainer {
        margin-bottom: 30px;
    }


/** Search Section **/    

    #searchBar {
        margin: 5% 5% 5% 5%;
    }

    .titleContainer {
        margin: 30px 0px 30px 0px;
        text-align: left;
        flex-wrap: wrap;
    }

    .filterSection {
        margin: 0px 25px 25px 0px;
    }

    .filterTitle {
        width: 100%;
        margin: 8px 5px 12px 5px;
    }

    .filterContainer {
        margin: 5px 15px 8px 0px;
    }

    .filterCategory {
        font-size: 16px;
    }

    .searchTitle {
        margin-bottom: 12px;
        font-size: 21px;
    }
    
    .searchBar {
        margin-bottom: 28px;
    }

    #searchButton {
        display: none;
    }

    #searchButtonMobile {
        display: initial;
        border: none;
        border-radius: 16px 16px 16px 16px;
        background-color: #0065FC;
        height: 51px;
        color: white;
        font-weight: 600;
        letter-spacing: 0.3px;
        width: 50px;
        margin-left: -25px;
        font-size: 17.5px;
        cursor: pointer;
    }

    .infoIcon {
        margin: 0px 10px 0px 0px;
    }
    

    /** Card section **/
    .popularHost {
        margin: 0;
        border-radius: 0;
    }

    .popularCard {
        width: 80%;
        margin: 15px 15px 15px 15px;
    }

    #lastCardResponsive {
        display: none;
    }

    .popularTitleSection {
        margin-left: 24px;
        margin-bottom: 24px;
    }

    .marseilleHost {
        background-color: transparent;
        margin: 0;
    }

    .marseilleHostTitle {
        margin-left: 24px;
        margin-bottom: 24px;
    }

    .hostMarseilleCard {
        margin: 15px 15px 15px 15px;
        width: 80%;
    }

    .activitiesCard {
        margin: 15px 15px 15px 15px;
    }

    .marseilleActivitesContainer {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .singleCard {
        width: 90%;
    }

    .singleCardImage {
        height: 150px;
    }

    .multipleCard {
        width: 90%;
    }

    .multipleCardImage {
        height: 150px !important;
    }

    .footer {
        flex-direction: column;
    }
}
