/** Général **/
* {
    font-family: "Raleway";
}

body {
    margin: 0% 4% 4% 4%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: 300;
}

/** Header **/
.menuSection {
    display: flex;
    justify-content: space-between;
    height: 110px;
    align-items: center;
}

.menuContainer {
    display: flex;
    height: 100%;
    align-items: center;
}

.logo {
    width: 95px;
}

.logoContainer {
    height: 20%;
    margin-left: 12px;
}

.menuTitleActivities {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid transparent;
}

.menuTitleHost {
    height: 100%;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid transparent;
    margin-right: 20px;
}


.menuTitleHost:hover {
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

.menuTitleActivities:hover {
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

.searchTitle {
    font-weight: 600;
    font-size: 22px;
    margin-top: 18px;
}

.searchSubTitle {
    font-size: 16px;
    font-weight: 300;
    margin-top: 7px;
}

.searchBar {
    margin-top: 20px;
    margin-bottom: 20px;
}

#searchInput {
    border: 1px solid #F2F2F2;
    width: 250px;
    height: 51px;
    padding-left: 15px;
}

#searchInput::placeholder {
    color: black;
    font-weight: 600;
    font-size: 17.5px;
    letter-spacing: 0.3px;
}

#searchInput:focus {
    outline: none;
}

#searchButton {
    border: none;
    border-radius: 0px 16px 16px 0px;
    background-color: #0065FC;
    height: 51px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.3px;
    width: 134px;
    margin-left: -25px;
    font-size: 17.5px;
    cursor: pointer;
}

#searchButtonMobile {
    display: none;
}

#locationIcon {
    border: 1px solid transparent;
    border-radius: 16px 0px 0px 16px;
    background-color: #F2F2F2;
    height: 51px;
    color: black;
    width: 54px;
    margin-right: -5px;
}

.filterSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.filterTitle {
    font-size: 18px;
    font-weight: 600;
    margin-right: 9px;
    margin-left: 9px;
}


.filterContainer {
    display: flex;
    position: relative;
    width : auto;
    height: 45px;
    border: 2px solid #dbdbdb;
    background-color: transparent;
    border-radius: 40px;
    padding-right: 19px;
    margin: 10px 0px 5px 25px;
    cursor: pointer;
}

.filterContainer:active {
    background-color: #0065FC;
    border: 2px solid #0065FC;
    color: white;
  }

.roundIcon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: -3px;
    left: -3px;

}

#filter-icon {
    color: #0065FC;
}

.filterCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    font-weight: 600;
    font-size: 18px;
}

.infoContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.infoIcon {
    border: 1px solid #dbdbdb;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.infoTitle {
    font-size: 16px;
    font-weight: 300;
}

#i-icon {
    color: #0065FC;
}

/** Header responsive **/

/** Ipad responsive **/
@media screen and (max-width: 992px) {

}

/** Mobile responsive **/
@media screen and (max-width: 768px) {
    
    body {
        margin: 5% 5% 5% 5%;
    }

    .menuSection {
        display: flex;
        flex-direction: column;
    }

    .menuContainer {
        width: 100%;
    }

    .menuTitleHost {
        margin: 0;
        width: 50%;
        height: 80%;
        border-bottom: 3px solid #F2F2F2;
        border-top: none;
    }

    .menuTitleActivities {
        margin: 0;
        width: 50%;
        height: 80%;
        border-bottom: 3px solid #F2F2F2;
        border-top: none;
    } 

    .menuTitleHost:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }
    
    .menuTitleActivities:hover {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;
    }

    .logoContainer {
        margin-bottom: 30px;
    }

    .titleContainer {
        margin: 30px 0px 30px 0px;
        text-align: left;
        flex-wrap: wrap;
    }

    .filterSection {
        margin: 0px 25px 25px 0px;
    }

    .filterTitle {
        width: 100%;
        margin: 8px 5px 12px 5px;
    }

    .filterContainer {
        margin: 5px 15px 8px 0px;
    }

    .filterCategory {
        font-size: 16px;
    }

    .searchTitle {
        margin-bottom: 12px;
        font-size: 21px;
    }
    
    .searchBar {
        margin-bottom: 28px;
    }

    #searchButton {
        display: none;
    }

    #searchButtonMobile {
        display: initial;
        border: none;
        border-radius: 16px 16px 16px 16px;
        background-color: #0065FC;
        height: 51px;
        color: white;
        font-weight: 600;
        letter-spacing: 0.3px;
        width: 50px;
        margin-left: -25px;
        font-size: 17.5px;
        cursor: pointer;
    }

    .infoIcon {
        margin: 0px 10px 0px 0px;
    }
}

/** Section **/

.hostSection {
    display: flex;
    width: 100%;
}

.marseilleHost {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 60%;
    margin: 5px 5px 5px 5px;
    padding: 15px 15px 15px 15px;
  }

  .hostTitle {
    font-size: 18px;
    font-weight: 600;
}

.marseilleCardContainer {
    width: 35%;
}

.hostMarseilleCard {
    background-color: white;
    margin: 5px 5px 5px 5px;
    padding: 6px 6px 6px 6px;
    border-radius: 20px;
    width: 100%;
    box-shadow: 3px 3px 25px #d8d8d8;
}

.marseilleCardImage {
    background-image: url(/assets/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    width: 100%;
    height: 120px;
    background-position: center;
    background-size: cover;
    border-radius: 15px 15px 0px 0px;
}

.marseilleCardTitleSection {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.marseilleCardTitle {
    font-weight: 600;
    margin-top: 5px;
}

.marseilleCardPrice {
    margin: 8px 0px 8px 0px;
    font-size: 15px;
    font-weight: 300;
}

.hostShowMore {
    font-size: 15px;
    font-weight: 600;
}

  .popularHost {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 40%;
    margin: 5px 5px 5px 5px;
    padding: 15px 15px 15px 15px;
  }

  .popularTitleSection {
      display: flex;
      justify-content: space-between;
  }

  .popularTitle {
      font-size: 18px;
      font-weight: 600;
  }